@model WebApplication1.Models.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_prodname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_prodname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_classid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_classid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_display)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_display)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_onshaffdateb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_onshaffdateb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_onshaffdaten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_onshaffdaten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_playseq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_playseq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_packagetext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_packagetext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_functiontext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_functiontext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.p_prodid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
